@model FileSharingApp.Models.ForgetPasswordViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Forgot Password</h1>


<hr />
<div class="row justify-content-center text-center">
    <div class="col-md-4">
        <form asp-action="ForgetPassword" asp-controller="Account">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
      
            <div class="form-group">
                <input type="submit" value="Reset Password" class="btn btn-outline-dark" />
            </div>
        </form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
