
@{
    ViewData["Title"] = "RequireEmailConfirm";
}

<div class="alert alert-success text-center">
    <h2>
        Your Account has been created successfully! You need to confirm email!
    </h2>
</div>

